/.venv/
.idea
.pytest_cache/
__pycache__/
*.egg-info/
*.pyc
*.pyo
*.swp
*.bak
*.log
*.rst
*.rst.inc
*.rst.inc.bak
*.rst.inc.swp
*.rst.inc.b
/glfox/2023_12POI/
/glfox/firstsuccess/
/glfox/temp/
/glfox/temp2/
/glfox/test/
/practic/img/
/practic/img_副本/
/practic/img_副本2/
